$port-size: 0.7em;
$port-border: 0.2em;
$node-border: 0.2em;
$node-padding-x: 0.6em;
$edge-stroke-width: $port-size * 0.5;
$node-lh: 1.4em;

@use "sass:math";
$port-shift: math.div(-$port-size - $node-border, 2);

.node-graph-contextmenu li *{
    cursor:pointer;
    white-space: nowrap;
}

.node{
    line-height: $node-lh;
    white-space: nowrap;
    display: grid;
    border: $node-border solid;
    grid-template:
    "title delete"
    "input input"
    "output output"
    "ui ui";
}

.node-title{
    grid-area: title;
}

.node-delete{
    grid-area: delete;
}

.ports{
    &[data-io="input"]{
        grid-area: input;
        .port-unit{
            justify-content: flex-start;
        }
        .port{
            left: ($node-lh + $node-border) * -0.5;
        }
    }
    &[data-io="output"]{
        grid-area: output;
        .port-unit{
            justify-content: flex-end;
        }
        .port{
            right: ($node-lh + $node-border) * -0.5;
        }
    }
}
.port-unit{
    display: flex;
}

.port-widget{
    display: inline-block;
}

.port{
    display: inline-block;
    position: absolute;
    width: $node-lh;
    height: $node-lh;
    &::after{
        content: "";
        display: inline-block;
        box-sizing: border-box;
        width: $port-size;
        height: $port-size;
        border-radius: 50%;
        border: solid $port-border;
        margin: -$port-size * 0.5;
        position: absolute;
        top: 50%;
        left:50%;
    }
}

.bottom_ui{
    grid-area: ui;
}

.edge{
    stroke-width: $edge-stroke-width;
    stroke-linecap: round;
}

// ------------------------------------------

.node-title, .ports, .bottom_ui{
    padding: 0.25em $node-padding-x;
}
.node-delete{
    margin-left: 1em;
}

.node-graph-contextmenu{
    border:1px solid #000;
    background-color:#fff;
}
