// Bang Wong's color template
// https://rdcu.be/c5bHt
$black: rgb(0, 0, 0);
$orange: rgb(230, 159, 0);
$skyblue: rgb(86, 180, 233);
$bluish_green: rgb(0, 158, 115);
$yellow: rgb(240, 228, 66);
$blue:rgb(0, 114, 178);
$vermillion:rgb(213, 94, 0);
$reddish_purple:rgb(204, 121, 167);

.graph-area{
    background-color: #EEE;
    height: 100vh;
}

.node{
    background-color: gainsboro;
}

.node[data-is-selected="true"]{
    border-color:  white;
}

.port{
    &[data-type="Scalar"]::after{
        background-color: $skyblue;
        border-color: $skyblue;
    }
    &[data-type="Vec2"]::after{
        background-color: $reddish_purple;
        border-color: $reddish_purple;
    }
    &:hover::after{
        border-color: white;
    }
}
.edge[data-type="Scalar"]{
    stroke: $skyblue;
}
.edge[data-type="Vec2"]{
    stroke: $reddish_purple;
}
.select_box{
    border: 0.1em solid;
    background-color: #EEE5;
}