.graph-area{
    background-color: gainsboro;
    height: 100vh;
}

.node{
}

.node[data-is-selected="true"]{
    border-color: red;
}

.port{
    background-color: crimson;
    border-color: crimson;
    &:hover{
        border-color: white;
    }
}